#principal{
    width: 920px;
    background: #f4f4f4;
}

.noticia{
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 8px;
    float: left;
}

h2{
    margin: 0px;
}

.clear{
    clear:left;
}

.img-galeria{
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}

.center{
    text-align: center;
}